@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Traceability</h1>
    <p>Learn about Traceability Tribe for a faster communication and processing.</p>
</div>
